* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #dbdbdb;
}

.head {
  width: 100%;
  height: 60px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.575)), to(rgba(0, 0, 0, 0.575)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.575));
}

.head .icon-menu {
  display: none;
}

.head .title {
  float: left;
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head .title a {
  font-size: 44px;
  padding: 0 10px;
  border-radius: 12px;
  border: 1px solid #000;
  text-decoration: none;
  color: #fff;
  background-color: #000;
}

.head nav {
  width: 60%;
  height: 100%;
  float: right;
}

.head nav .hide {
  display: none;
}

.head nav ul {
  list-style: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head nav ul li {
  float: left;
  margin: 0 10px 0 0;
}

.head nav ul li a {
  padding: 10px;
  color: #000;
  text-decoration: none;
  border: solid 1px #000;
}

.head nav ul li a:hover {
  color: #fff;
  background-color: #000;
}

.footer {
  width: 100%;
  height: 60px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.575)), to(rgba(0, 0, 0, 0.575)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.575));
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: 1000px;
  min-height: calc(100vh - 120px);
  position: relative;
}

.container .posts {
  background-color: #fff;
  width: 600px;
  margin: 10px;
  -webkit-box-shadow: 4px -1px 20px 1px #504e4e8f, -3px 1px 9px 0px #504e4e8f;
          box-shadow: 4px -1px 20px 1px #504e4e8f, -3px 1px 9px 0px #504e4e8f;
}

.container .posts header {
  width: 100%;
  margin: 0 0 10px 0;
}

.container .posts header span {
  font-size: 22px;
  margin: 10px 0 0 10px;
}

.container .posts header a {
  margin: 10px 0 10px 0;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.container .posts section {
  margin: 0 0 10px 0;
  width: 100%;
}

.container .posts section p {
  padding: 10px;
}

.container .posts section .thumbnail {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .posts section .thumbnail img {
  width: 100%;
}

.container .posts section .readmore {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .posts section .readmore a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #000;
  padding: 5px 10px;
  background: blue;
}

.container .posts footer {
  width: 100%;
}

.container .posts footer span {
  font-size: 22px;
  margin: 0 10px 0 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .posts footer .category {
  width: 100%;
}

.container .posts footer .category img {
  float: left;
}

.container .posts footer .category a {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.container .posts footer .comment {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .posts footer .comment span {
  width: 200px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: blue;
}

.container .posts footer .comment span a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

.container .posts footer .comment span:hover {
  background-color: #04045f;
}

.container .posts footer .comment span:hover a {
  color: #000;
}

.container .posts footer .comment .comment-no {
  background-color: gray;
  font-size: 12px;
}

.container .posts footer .comment .comment-no:hover {
  background-color: red;
  cursor: pointer;
}

.container .next,
.container .prev {
  bottom: 10px;
  position: absolute;
  background-color: blue;
  border: 1px solid #000;
  padding: 10px;
  color: #fff;
}

.container .next a,
.container .prev a {
  padding: 10px;
  background-color: blue;
  text-decoration: none;
  color: #fff;
}

.container .next:hover,
.container .prev:hover {
  background-color: #04045f;
  cursor: pointer;
}

.container .next:hover a,
.container .prev:hover a {
  background-color: #04045f;
}

.container .next {
  right: 10px;
}

.container .prev {
  left: 10px;
}

.container .post {
  width: 100%;
  height: 100%;
}

.container .author-info {
  background-color: #fff;
  width: 100%;
  height: 120px;
}

.container .author-info .image {
  float: left;
  width: 120px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .author-info section {
  width: calc(100% - 120px);
  float: left;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container .author-info section a {
  position: absolute;
  text-decoration: none;
  top: 10px;
}

.page-error {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: red;
  border-radius: 120px;
  margin: 20% 0 0 0;
}
/*# sourceMappingURL=main.css.map */