* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #dbdbdb;
}
// style header
// style page header
.head {
  width: 100%;
  height: 60px;
  background: linear-gradient(
    to right,
    hsla(0, 0%, 0%, 0.575),
    hsla(0, 0%, 0%, 0.575)
  );
  .icon-menu {
    ///style div icon in Head page=>
    display: none; //trun of on pc
    ///style div icon in Head page END
  }
  .title {
    // title style
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      font-size: 44px;
      padding: 0 10px;
      border-radius: 12px;
      border: 1px solid #000;
      text-decoration: none;
      color: #fff;
      background-color: #000;
    }

    // endt itle style
  }
  nav {
    //nav
    width: 60%;
    height: 100%;
    float: right;
    //buuton div on just moblie
    .hide {
      // style hide
      display: none; // trun of on pc
      // style hide END
    }
    ul {
      list-style: none;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        float: left;
        margin: 0 10px 0 0;

        a {
          padding: 10px;
          color: #000;
          text-decoration: none;
          border: solid 1px #000;
        }
        a:hover {
          color: #fff;
          background-color: #000;
        }
      }
    }
  }
  //end nav
}
// style header end
// footer.php style
.footer {
  width: 100%;
  height: 60px;
  background: linear-gradient(
    to right,
    hsla(0, 0%, 0%, 0.575),
    hsla(0, 0%, 0%, 0.575)
  );
}
// footer.php style END
// style container
// style index.php
.container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 1000px;
  min-height: calc(100vh - 120px);
  position: relative;
  .posts {
    //style post
    background-color: #fff;
    width: 600px;
    margin: 10px;
    box-shadow: 4px -1px 20px 1px #504e4e8f, -3px 1px 9px 0px #504e4e8f;
    header {
      // header post
      width: 100%;
      margin: 0 0 10px 0;
      span {
        font-size: 22px;
        margin: 10px 0 0 10px;
      }
      a {
        margin: 10px 0 10px 0;
        text-align: center;
        text-decoration: none;
        color: #000;
      }
      // header post end
    }
    section {
      //section post
      margin: 0 0 10px 0;
      width: 100%;

      p {
        padding: 10px;
      }
      .thumbnail {
        width: 100%;
        height: 300px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
        }
      }
      // readmore
      .readmore {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          text-decoration: none;
          color: #fff;
          border: 1px solid #000;
          padding: 5px 10px;
          background: blue;
        }
      }
      // readmore END
      //section post end
    }
    footer {
      //footr post
      width: 100%;
      span {
        font-size: 22px;
        margin: 0 10px 0 10px;
        width: 100%;
        display: flex;
        align-items: center;
      }
      // category
      .category {
        width: 100%;

        img {
          float: left;
        }

        a {
          font-size: 14px;
          text-decoration: none;
          color: #000;
        }
        // category a li end
      }
      // category end

      .comment {
        //comment
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
          //span
          width: 200px;
          height: 40px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          background: blue;
          a {
            //a
            text-decoration: none;
            color: #fff;
            font-size: 22px;
            //a END
          }
          //span END
        }
        span:hover {
          //span hover
          background-color: rgb(4, 4, 95);
          a {
            //a
            color: #000;
            //a END
          }
          //span hover END
        }
        .comment-no {
          //comment no
          background-color: gray;
          font-size: 12px;
          //comment no END
        }
        .comment-no:hover {
          //comment no
          background-color: red;
          cursor: pointer;
          //comment no END
        }
      }
      //end comment
      //footr post end
    }
    //style post end
  }

  .next,
  .prev {
    //next and prev
    bottom: 10px;
    position: absolute;
    background-color: blue;
    border: 1px solid #000;
    padding: 10px;
    color: #fff;
    a {
      padding: 10px;
      background-color: blue;
      text-decoration: none;
      color: #fff;
    }

    //next and prev end
  }
  .next:hover,
  .prev:hover {
    background-color: rgb(4, 4, 95);
    cursor: pointer;
    a {
      background-color: rgb(4, 4, 95);
    }
  }
  .next {
    //next
    right: 10px;

    //next END
  }
  .prev {
    left: 10px;
  }
  // div next and prev END
}
// style container

//page single.php style
.container {
  .post {
    width: 100%;
    height: 100%;
  }
  .author-info {
    //author info
    background-color: #fff;
    width: 100%;

    height: 120px;
    .image {
      //img
      float: left;
      width: 120px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      //img END
    }
    section {
      width: calc(100% - 120px);
      float: left;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      //section
      a {
        //a
        position: absolute;
        text-decoration: none;
        top: 10px;
        //a END
      }

      //section END
    }
    //author info END
  }
}
//page single.php style END

//comments.php END
// 404.php style
.page-error {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: red;
  border-radius: 120px;
  margin: 20% 0 0 0;
}
// 404.php style END
//
// moblie
@media screen and (max-width: 700px) {
  body {
    //body style =>
    .head {
      //style head page =>
      width: 100%;
      position: relative;
      .icon-menu {
        ///style div icon in Head page=>
        /* this is will has  button 
        when click this button will show menu (nav)
        */
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        ///style div icon in Head page END
      }
      .title {
        ///style div title in Head page=>
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        a {
          // a in title
          font-size: 30px;
          margin: 0 0 0 10px;
          // a in title end
        }
        ///style div title Head page END
      }
      nav {
        // style nav in head page =>
        display: none;
        width: 100%;
        height: 100vh;
        position: absolute;
        background: #000;
        background: linear-gradient(
          to right,
          hsla(0, 0%, 0%, 0.808),
          hsla(0, 0%, 0%, 0.781)
        );
        //buuton div
        .hide {
          // style hide
          /*
          this is will has button 
          when click on button hide menu (nav)
          */
          display: block;
          position: absolute;
          top: 10px;
          right: 20px;
          // style hide END
        }
        ul {
          // ul in nav
          display: flex;
          flex-direction: column;
          align-items: center;
          li {
            // li in ul in nav
            height: 40px;
            margin: 10px 0 20px 0;
            width: 80%;
            text-align: center;
            float: none;
            border: #fff 1px solid;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
              //a in li in ul in nav
              padding: 10px;
              border: none;
              //a in li in ul in nav END
            }
            // li in ul in nav END
          }
          li:hover {
            background: #000;
            color: #fff;
            a {
              color: #fff;
            }
          }
          // ul in nav END
        }
        // style nav in head page END
      }
      //style head page END
    }
    //body style END
  }
}
// moblie END
