* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #dbdbdb;
}
// style header
// style page header
.head {
  width: 100%;
  height: 60px;
  background: linear-gradient(
    to right,
    hsla(0, 0%, 0%, 0.575),
    hsla(0, 0%, 0%, 0.575)
  );
  .icon-menu {
    ///style div icon in Head page=>
    display: none; //trun of on pc
    ///style div icon in Head page END
  }
  .title {
    // title style
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      font-size: 44px;
      padding: 0 10px;
      border-radius: 12px;
      border: 1px solid #000;
      text-decoration: none;
      color: #fff;
      background-color: #000;
    }

    // endt itle style
  }
  nav {
    //nav
    width: 60%;
    height: 100%;
    float: right;
    //buuton div on just moblie
    .hide {
      // style hide
      display: none; // trun of on pc
      // style hide END
    }
    ul {
      list-style: none;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        float: left;
        margin: 0 10px 0 0;

        a {
          padding: 10px;
          color: #000;
          text-decoration: none;
          border: solid 1px #000;
        }
        a:hover {
          color: #fff;
          background-color: #000;
        }
      }
    }
  }
  //end nav
}
// style header end
// footer.php style
.footer {
  width: 100%;
  height: 60px;
  background: linear-gradient(
    to right,
    hsla(0, 0%, 0%, 0.575),
    hsla(0, 0%, 0%, 0.575)
  );
}
// footer.php style END
// style container
// style index.php
.container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 1000px;
  min-height: calc(100vh - 120px);
  position: relative;
  .posts {
    //style post
    background-color: #fff;
    width: 600px;
    margin: 10px;
    box-shadow: 4px -1px 20px 1px #504e4e8f, -3px 1px 9px 0px #504e4e8f;
    header {
      // header post
      width: 100%;
      margin: 0 0 10px 0;
      span {
        font-size: 22px;
        margin: 10px 0 0 10px;
      }
      a {
        margin: 10px 0 10px 0;
        text-align: center;
        text-decoration: none;
        color: #000;
      }
      // header post end
    }
    section {
      //section post
      margin: 0 0 10px 0;
      width: 100%;

      p {
        padding: 10px;
      }
      .thumbnail {
        width: 100%;
        height: 300px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
        }
      }
      // readmore
      .readmore {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          text-decoration: none;
          color: #fff;
          border: 1px solid #000;
          padding: 5px 10px;
          background: blue;
        }
      }
      // readmore END
      //section post end
    }
    footer {
      //footr post
      width: 100%;
      span {
        font-size: 22px;
        margin: 0 10px 0 10px;
        width: 100%;
        display: flex;
        align-items: center;
      }
      // category
      .category {
        width: 100%;

        img {
          float: left;
        }

        a {
          font-size: 14px;
          text-decoration: none;
          color: #000;
        }
        // category a li end
      }
      // category end

      .comment {
        //comment
        a {
          color: #000;
          text-decoration: none;
        }
      }
      //end comment
      //footr post end
    }
    //style post end
  }
  .next-prev {
    // div next and prev
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 10px;
    span {
      //span
      position: absolute;

      a {
        padding: 10px;
        border: 1px solid #000;
        background-color: blue;
        color: #fff;
        text-decoration: none;
      }
      a:hover {
        background-color: rgb(4, 4, 95);
      }
      //span end
    }
    .next {
      //next
      right: 10px;
      //next END
    }
    .prev {
      left: 10px;
    }
    // div next and prev END
  }
}
// style container

//page single.php style
.container {
  .post {
    width: 100%;
    height: 100%;
  }
}
//page single.php style END
//comments.php
.comments {
  // comment

  width: 100%;
  .comment {
    width: 80%;
    margin: 10px;
    padding: 10px;
    float: left;
    background-color: #fff;

    a {
      text-decoration: none;
      font-size: 22px;
    }
    span {
      float: right;
      font-size: 12px;
    }
  }
  // comment END
}
// add comments
.addcomment {
  // addcomment
  width: 100%;
  .comment-respond {
    //comment-respond
    width: 100%;

    h3 {
      //h3
      text-align: center;
    }
    //h3 END
    form {
      //form
      width: 100%;
      .comment-form-comment {
        //comment-form-comment

        textarea {
          //textarea
          width: 80%;
          margin: 10px 0 10px 0;
          outline: none;
          border: none;
          //textarea END
        }
        //comment-form-comment END
      }
      p {
        //p
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        input[type="text"] {
          margin: 10px;
          width: 80%;
          height: 40px;
          outline: none;
          border: none;
        }
        // p END
      }
      .form-submit {
        //form-submit
        input {
          margin: 10px;
          width: 30%;
          height: 40px;
          outline: none;
          border: none;
          background-color: blue;
          color: #fff;
        }
        input:hover {
          cursor: pointer;
          background-color: rgb(3, 3, 117);
        }
        //form-submit END
      }
      //form END
    }
    //comment-respond END
  }
  // addcomment END
}
// add comments ENd
//comments.php END
// 404.php style
.page-error {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: red;
  border-radius: 120px;
  margin: 20% 0 0 0;
}
// 404.php style END
//
// moblie
@media screen and (max-width: 700px) {
  body {
    //body style =>
    .head {
      //style head page =>
      width: 100%;
      position: relative;
      .icon-menu {
        ///style div icon in Head page=>
        /* this is will has  button 
        when click this button will show menu (nav)
        */
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        ///style div icon in Head page END
      }
      .title {
        ///style div title in Head page=>
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        a {
          // a in title
          font-size: 30px;
          margin: 0 0 0 10px;
          // a in title end
        }
        ///style div title Head page END
      }
      nav {
        // style nav in head page =>
        display: none;
        width: 100%;
        height: 100vh;
        position: absolute;
        background: #000;
        background: linear-gradient(
          to right,
          hsla(0, 0%, 0%, 0.808),
          hsla(0, 0%, 0%, 0.781)
        );
        //buuton div
        .hide {
          // style hide
          /*
          this is will has button 
          when click on button hide menu (nav)
          */
          display: block;
          position: absolute;
          top: 10px;
          right: 20px;
          // style hide END
        }
        ul {
          // ul in nav
          display: flex;
          flex-direction: column;
          align-items: center;
          li {
            // li in ul in nav
            height: 40px;
            margin: 10px 0 20px 0;
            width: 80%;
            text-align: center;
            float: none;
            border: #fff 1px solid;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
              //a in li in ul in nav
              padding: 10px;
              border: none;
              //a in li in ul in nav END
            }
            // li in ul in nav END
          }
          li:hover {
            background: #000;
            color: #fff;
            a {
              color: #fff;
            }
          }
          // ul in nav END
        }
        // style nav in head page END
      }
      //style head page END
    }
    //body style END
  }
}
// moblie END
